.navbar {
    display: flex;
    justify-content: center;
    
}


.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.green:link {
    text-decoration: none;
}

.green:visited {
    text-decoration: none;
}

.green:hover {
    color: chartreuse;
}

.logo {
   font-family: sans-serif;
   font-size: 100%; 
}

body {
    background-color: rgb(86, 36, 133);
}




