* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(86, 36, 133);
    min-height: 200vh;
    padding-top: 17rem;

}

header {
    background: transparent;
}

header:active {
    background: rgb(203, 138, 69);
}

header, header:active {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s;
    padding: 40px 100px;
    z-index: 1;
}



header a.logo {
    position: relative;
    transition: 0.6s;
    display: flex;
    justify-content: flex-start;
}

.links, .logo, li {
    text-decoration: none;
    list-style-type: none;

}

a.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 48px;
}

p.logo.logo-caption {
    text-align: center;
    left: 7px;
    position: relative;
}

header.sticky {
    padding: 5px 100px;
    background: rgb(203, 138, 69);

}

header .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

header .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 5rem;
    position: relative;

}

.green:link {
    text-decoration: none;
}

.green:visited {
    text-decoration: none;
}

.green:hover {
    color: chartreuse;
}

.green {
    color: darkgrey;
    font-family: Chiller Regular, 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}


.welcome {
    display: flex;
    justify-content: center;
    font-family: Chiller Regular, 'Arial Narrow', Arial, sans-serif;
    font-size: 120px;
}

.opener {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

img.centipede {
    display: block;
    justify-content: center;
    width: 100%;
    height: auto;

}

h3 {
    font-family: Chiller Regular, 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color: rgb(23, 2, 2);
}


.wrapper {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(211, 211, 211, 0.804);
    padding: 1rem;
}

caption,
th,
td {
    padding: 1rem;
}

caption {
    text-align: left;
    background: rgba(128, 255, 0, 0.774);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

}

th {
    background: rgba(128, 255, 0, 0.774);
}

tr:nth-of-type(2n) {
    background: rgba(128, 255, 0, 0.342);
}

.table-container {
    max-width: 100%;
    overflow-x: scroll;
}

@media (max-width: 650px) {
    th {
        display: none
    }

    td {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
    }

    td:first-child {
        padding-top: 2rem;
    }

    td:last-child {
        padding-bottom: 2rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: uppercase;
    }
}

div.footer-logo {
    display: flex;
}
