.navbar {
    display: flex;
    justify-content: center;
    
}

.navbar ul {
    list-style-type: none;
}

.green:hover {
    background-color: chartreuse;
}

.logo {
   font-family: sans-serif;
   font-size: 100%; 
}

body {
    background-color: rgb(86, 36, 133);
}




